$svg-icons:  ( user: (56px, 37px), account: (43px, 29px), financing: (34px, 34px), deals: (33px, 31px) );

%why-join-reason_propeties {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #3c4759;
}
.whyjoin-reason-item {
  margin-bottom: 95px;
  font-family: helvetica;
  .icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 12px;
  }
  @each $key, $value in $svg-icons {
    $svg-width: nth($value, 1);
    $svg-height: nth($value, 2);

    .#{$key} {
      width: $svg-width;
      height: 37px;
    }
    .icon-whyjoin_#{$key} {
      fill: #637188;
      width: $svg-width;
      height: $svg-height;
    }
    &:hover {
      .icon-whyjoin_#{$key} {
        fill: #00aeef;
      }
    }
  }
  .title {
    @extend %why-join-reason_propeties;
    margin-bottom: 18px;
    font-size: 26px;
  }
  &:hover {
    .title {
      color: #00aeef;
    }
  }
  .text {
    @extend %why-join-reason_propeties;
    margin: 0 auto;
    max-width: 300px;
    color: #637188;
  }
  .join {
    @extend %why-join-reason_propeties;
    margin: auto;
    margin-bottom: 20px;
    max-width: 310px;
    font-size: 30px;
  }
  .btn-join,
  .btn-join:hover,
  .btn-join:active {
    display: block;
    margin: 0 auto;
    padding: 0 97px;
    padding-top: 17px;
    padding-bottom: 13px;
    border: none;
    border-radius: 0;
    background-image: none;
    background-color: #00aeef;
    text-shadow: none;
    outline: none;
    font-size: 18px;
    color: #fff;
  }
}

@media (max-width: 767px) {
  $svg-icons:  ( user: (84px, 55px), account: (65px, 44px), financing: (51px, 51px), deals: (51px, 46px) );

  .whyjoin-reason-item {
    .icon {
    @each $key, $value in $svg-icons {
      $svg-width: nth($value, 1);
      $svg-height: nth($value, 2);

      .#{$key} {
        width: $svg-width;
        height: 55px;
      }
      .icon-whyjoin_#{$key} {
        width: $svg-width;
        height: $svg-height;
      }
    }
    }
    .text {
      font-size: 20px;
    }
    .join {
      margin-bottom: 50px;
    }
    .btn-join {
      margin: auto;
      padding-left: 262px;
      padding-right: 262px;

      &:hover {
        margin: auto;
        padding-left: 262px;
        padding-right: 262px;
      }
    }
  }
}