$svg-icons:  ( user: (56px, 37px), account: (43px, 29px), financing: (34px, 34px), deals: (33px, 31px) );

%reason_propeties {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #3c4759;
}

.reasons {
  &-item {
    margin-bottom: 95px;
    font-family: helvetica;

    &:hover {
      .reasons-item-title {
        color: #00aeef;
      }
    }

    &-title {
      @extend %reason_propeties ;
      margin-bottom: 18px;
      font-size: 26px;
    }

    &-text {
      @extend %reason_propeties ;
      margin: 0 auto;
      max-width: 300px;
      color: #637188;
    }

    &-icon {
      display: block;
      margin: 0 auto;
      margin-bottom: 12px;
    }

    @each $key, $value in $svg-icons {
      $svg-width: nth($value, 1);
      $svg-height: nth($value, 2);

      ._prop-icon-#{$key} {
        width: $svg-width;
        height: 37px;
      }
      .icon-#{$key} {
        fill: #3c4759;
        width: $svg-width;
        height: $svg-height;
      }
      &:hover {
        .icon-#{$key} {
          fill: #00aeef;
        }
      }
    }
  }

  &-join {
    @extend .reasons-item;

    &-text {
      @extend %reason_propeties ;
      margin: auto;
      margin-bottom: 20px;
      max-width: 310px;
      font-size: 30px;
    }

    &-button {
      margin-right: auto;
      margin-left: auto;
      padding-right: 97px;
      padding-left: 97px;
    }
  }
}

@media (max-width: 767px) {
  $svg-icons:  ( user: (84px, 55px), account: (65px, 44px), financing: (51px, 51px), deals: (51px, 46px) );

  .reasons {
    &-item {
      margin-bottom: 70px;
      &-icon {
        @each $key, $value in $svg-icons {
          $svg-width: nth($value, 1);
          $svg-height: nth($value, 2);

          ._prop-icon-#{$key} {
            width: $svg-width / 1.444;
            height: 55px  / 1.444;
          }
          .icon-#{$key} {
            width: $svg-width  / 1.444;
            height: $svg-height  / 1.444;
          }
        }
      }

      &-title {
        margin-bottom: 6px;
        font-size: 20px;
      }
      &-text {
        font-size: 16px;
      }
    }
    &-join {
      &-text {
        margin-bottom: 20px;
        font-size: 24px;
      }
      &-button {
        margin: auto;
        padding-left: 30%;
        padding-right: 30%;
      }
    }
  }
}