include ../mixin.pug	
	
article.container.article
	div.row
		div.col-lg-offset-0.col-lg-4.col-md-offset-1.col-md-5.col-sm-6
			div.article-block
				+articleOutput(	'article-feed1.png',
								'Financial',
								"The Foolish Fantasies of Fintech/ Bank Partnerships",
								'2k',
								'14 Aug, 2016',
								"Calls for banks to pair up with fintech companies are misguided, and what's happened so far doesn't remotely qualify as \"partnerships\".")

		div.col-lg-4.col-md-5.col-sm-6
			div.article-block
				+articleOutput(	'article-feed2.png',
								'Financial',
								"Does It Really Matter What Retail Banking Consumers Want?",
								'2k',
								'14 Aug, 2016',
								"Financial marketers can rely too heavily on consumer research when crafting their strategy. Real innovation and differentiation results from a bold vision.")

		div.col-lg-offset-0.col-lg-4.col-md-offset-1.col-md-5.col-sm-6
			div.article-block
				+articleOutput(	'article-feed3.png',
								'Financial',
								"Marketers Stop Making Sense",
								'2k',
								'14 Aug, 2016',
								"Marketers should put their money in the channels they consider to be the most effective, right? But they don\'t. Which doesn\'t make much sense, does it?")

		div.col-lg-4.col-md-5.col-sm-6
			div.article-block
				+articleOutput(	'article-feed4.png',
								'Financial',
								"Financial Health Is The New Marketing",
								'2k',
								'14 Aug, 2016',
								"Grading and monitoring consumers\' financial health will become the new marketing in financial services.")

		div.col-lg-offset-0.col-lg-4.col-md-offset-1.col-md-5.col-sm-6
			div.article-block
				+articleOutput(	'article-feed5.png',
								'Financial',
								"Life During Mobile Payments",
								'2k',
								'14 Aug, 2016',
								"You know how much easier my life would be if I speculate how great life could be as a result of could just write books and go on radio shows and new technologies...")

		div.col-lg-4.col-md-5.col-sm-6
			div.article-block
				+articleOutput(	'article-feed6.png',
								'Financial',
								"Measuring Customer Loyalty In The 21st Century",
								'2k',
								'14 Aug, 2016',
								"Banks and credit unions need a new metric to gauge customer/member loyalty. Learn why the Referral Performance Score is superior to today\'s measures.")

		div.col-lg-offset-0.col-lg-4.col-md-offset-1.col-md-5.col-sm-6
			div.article-block
				+articleOutput(	'article-feed7.png',
								'Financial',
								"The Confusing State of Bank Customer Service",
								'2k',
								'14 Aug, 2016',
								"New survey data suggests banks\' customer service is good, and that banks have no reason to mention the word \'omnichannel\' ever again.")

		div.col-lg-4.col-md-5.col-sm-6
			div.article-block
				+articleOutput(	'article-feed8.png',
								'Financial',
								"What The Bank Customer Satisfaction Numbers Really Mean",
								'2k',
								'14 Aug, 2016',
								"JD Power released the first wave of its 2015 bank customer satisfaction research. My take: Big bank bashing is a thing of the past.")

		div.col-lg-offset-0.col-lg-4.col-md-offset-1.col-md-5.col-sm-6
			div.article-block
				+articleOutput(	'',
								'Financial',
								"What Do You Do If The CEO Doesn’t ‘Get’ Marketing?",
								'2k',
								'14 Aug, 2016',
								"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.")