div.container.filters
	div.row
		div.col-sm-5.col-xs-10
			div.search
				input(type="text" placeholder="What are you looking for?")
		div.col-sm-3.hidden-xs
			div.date By Date
		div.col-lg-2.col-lg-offset-1.col-sm-3.col-xs-2
			div.sort
				p.sort-text.hidden-xs By Categories
		div.col-sm-1.hidden-xs
			div.commit-button
				button(type="button" class="array")