.whyjoin-info{
	padding: 0;
}
.whyjoin-info:before{
	content: "";
	display: block;
	margin-bottom: 90px;
	width: 100%;
	height: 1px;
	background-color: #e2e4e6;
}
.whyjoin-info_item .icon {
	display: block;
	margin: auto;
	margin-bottom: 15px;
	width: 32px;
	height: 32px;
}
.whyjoin-info_item .question {
	background-image: url(../img/whyjoin-info-question.png);
}
.whyjoin-info_item .folder {
	background-image: url(../img/whyjoin-info-folder.png);
}
.whyjoin-info_item .resources {
	background-image: url(../img/whyjoin-info-resources.png);
}
.whyjoin-info_item .title {
	display: block;
	margin-bottom: 7px;
	text-align: center;
	font-size: 24px;
	font-family: helvetica;
	color: #00aeef;
}
.whyjoin-info_item .text {
	display: block;
	margin: auto;
	margin-bottom: 91px;
	max-width: 350px;
	text-align: center;
	font-size: 16px;
	font-family: helvetica;
	color: #637188;
}


