div.container.content
  p.content-benefit
   | Benefit from the support of a vibrant community and get reliable answers on the most important financial questions from top experts in the field.  Plan for your future with cutting-edge financial tools and bespoke digital banking products tailored for your own needs, with a wide range of exclusive accounts and financing options.

  p.content-earn
    | Earn amazing rewards from your membership in one of the most unique digital communities in the region, with countless deals and offers every week. 

  p.content-singup
    a(href="#") Sign up
    |  today and start your journey toward a 
    i moneysmart future!