div.container.extrareasons
  div.row
    div.col-sm-4
      div.extrareasons-item
        a(class="extrareasons-item-icon icon-question" href="#")
        a(class="extrareasons-item-title" href="#") Press Enquiries
        p.extrareasons-item-text Do you have any question? We’ll be happy to answer. Call us at xx-xxxx-xxxx

    div.col-sm-4
      div.extrareasons-item
        a(class="extrareasons-item-icon icon-folder" href="#")
        a(class="extrareasons-item-title" href="#") Resources
        p.extrareasons-item-text Access our resources library and take a look at the latest photos, videos, and news from moneysmart  

    div.col-sm-4
      div.extrareasons-item
        a(class="extrareasons-item-icon icon-resources" href="#")
        a(class="extrareasons-item-title" href="#") Resources
        p.extrareasons-item-text Access resources library <br /> Download Logos and media
