div.whyjoin-info
  div.container
    div.row
      div.col-sm-4
        div.whyjoin-info_item
          a(class="icon question" href="#")
          a(class="title" href="#") Press Enquiries
          p.text Do you have any question? We’ll be happy to answer. Call us at xx-xxxx-xxxx

      div.col-sm-4
        div.whyjoin-info_item
          a(class="icon folder" href="#")
          a(class="title" href="#") Resources
          p.text Access our resources library and take a look at the latest photos, videos, and news from moneysmart  

      div.col-sm-4
        div.whyjoin-info_item
          a(class="icon resources" href="#")
          a(class="title" href="#") Resources
          p.text Access resources library <br /> Download Logos and media
