div.slider
  div.container
    div.slider-body
      h1.slider-body-title Why Join
      h3.slider-body-subtitle Grow your savings and protect your future with moneysmart, the 
        b region’s first 
        | community-based digital banking experience. 

      a(class="slider-arrowdown" href="#")