div.slider-bg.slider-whyjoin
	div.container
		div.slider
			h1.why-join Why Join
			h2.why-join Grow your savings and protect your future with moneysmart, the 
				b region’s first 
				| community-based digital banking experience. 

			a(class="slider-arrowdown" href="#")