div.whyjoin-reason.community
	div.container
		div.row
			div.col-sm-4.col-xs-12
				div.whyjoin-reason-item._left
					a(class="icon knowledge" href="#")
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="58" height="37" viewBox="0 0 58 37" class="svg-properties")
							path(class="color" d="M47.809,24.639 C52.404,26.976 55.638,31.592 55.996,37.000 L53.988,37.000 C53.601,31.936 50.303,27.691 45.762,25.909 C44.319,26.601 42.708,27.000 41.000,27.000 C39.292,27.000 37.681,26.601 36.238,25.909 C31.697,27.691 28.399,31.936 28.012,37.000 L26.004,37.000 C26.101,35.538 26.424,34.141 26.911,32.825 C25.539,29.677 22.975,27.170 19.762,25.909 C18.319,26.601 16.708,27.000 15.000,27.000 C13.292,27.000 11.681,26.601 10.238,25.909 C5.697,27.691 2.398,31.936 2.012,37.000 L0.004,37.000 C0.362,31.592 3.596,26.976 8.191,24.640 C5.628,22.625 3.977,19.508 3.977,16.000 C3.977,9.925 8.912,5.000 15.000,5.000 C16.159,5.000 17.275,5.181 18.325,5.512 C18.158,6.161 18.056,6.836 18.024,7.529 C17.077,7.193 16.062,7.000 15.000,7.000 C10.019,7.000 5.981,11.030 5.981,16.000 C5.981,20.970 10.019,25.000 15.000,25.000 C19.595,25.000 23.380,21.567 23.940,17.133 C24.551,17.406 25.194,17.620 25.863,17.766 C25.411,20.542 23.931,22.971 21.809,24.640 C24.407,25.961 26.556,28.018 28.006,30.530 C29.460,28.023 31.596,25.959 34.191,24.639 C32.069,22.972 30.588,20.542 30.136,17.766 C30.806,17.620 31.448,17.406 32.060,17.133 C32.620,21.567 36.404,25.000 41.000,25.000 C45.981,25.000 50.019,20.970 50.019,16.000 C50.019,11.030 45.981,7.000 41.000,7.000 C39.938,7.000 38.923,7.193 37.976,7.529 C37.944,6.836 37.842,6.161 37.675,5.512 C38.725,5.181 39.841,5.000 41.000,5.000 C47.088,5.000 52.023,9.925 52.023,16.000 C52.023,19.508 50.372,22.625 47.809,24.639 ZM34.273,5.882 L30.218,6.979 C29.695,7.121 29.160,6.815 29.022,6.296 C28.885,5.777 29.197,5.242 29.719,5.101 L31.399,4.647 C30.550,4.110 27.023,2.235 23.641,5.090 C23.316,5.365 22.861,5.392 22.511,5.192 C22.417,5.138 22.330,5.067 22.254,4.981 C21.902,4.571 21.952,3.957 22.365,3.607 C26.172,0.396 30.476,1.642 32.477,3.004 L31.982,1.236 C31.844,0.717 32.156,0.182 32.678,0.041 C33.201,-0.100 33.736,0.206 33.873,0.724 L34.970,4.687 C35.036,4.937 35.000,5.202 34.869,5.427 C34.738,5.651 34.524,5.815 34.273,5.882 ZM26.981,9.728 C27.119,10.246 26.808,10.779 26.286,10.920 L24.608,11.370 C25.457,11.907 28.984,13.783 32.360,10.939 C32.684,10.665 33.139,10.638 33.489,10.838 C33.583,10.892 33.670,10.963 33.746,11.050 C34.099,11.458 34.049,12.072 33.637,12.419 C29.838,15.619 25.535,14.370 23.534,13.008 L24.031,14.772 C24.169,15.290 23.859,15.823 23.336,15.964 C22.814,16.104 22.280,15.798 22.141,15.280 L21.041,11.325 C20.974,11.076 21.010,10.812 21.140,10.588 C21.271,10.364 21.485,10.201 21.735,10.134 L25.786,9.045 C26.308,8.905 26.843,9.210 26.981,9.728 Z")

					a(class="title" href="#") Knowledge Exchange
					p.text The Emerald Buddha is a figurine of a sitting Budha, that is the is the palladium of the Kingdom of Thailand. 

			div.col-sm-4.col-xs-12
				div.whyjoin-reason-item
					a(class="icon savingtips" href="#")
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="37" height="38.875" viewBox="0 0 37 38.875" class="svg-properties")
							path(class="color" d="M32.984,20.859 C32.984,22.516 31.641,23.859 29.984,23.859 C28.327,23.859 26.984,22.516 26.984,20.859 C26.984,19.202 28.327,17.859 29.984,17.859 C31.641,17.859 32.984,19.202 32.984,20.859 ZM29.000,21.875 L31.000,21.875 L31.000,19.875 L29.000,19.875 L29.000,21.875 ZM35.000,33.875 L19.239,33.875 C19.489,33.235 19.682,32.567 19.810,31.875 L34.000,31.875 C34.552,31.875 35.000,31.427 35.000,30.875 L35.000,11.875 C35.000,11.323 34.552,10.875 34.000,10.875 L8.000,10.875 C7.448,10.875 7.000,11.323 7.000,11.875 L7.000,19.065 C6.308,19.193 5.640,19.386 5.000,19.636 L5.000,11.885 L5.000,11.885 L5.000,8.341 L5.000,7.865 L5.045,7.865 C5.267,6.178 6.343,4.875 8.000,4.875 L17.525,4.875 L26.090,0.013 L28.212,4.875 L29.710,4.875 C31.521,4.875 32.988,6.425 32.990,8.338 L32.990,8.875 L35.000,8.875 C36.105,8.875 37.000,9.770 37.000,10.875 L37.000,31.875 C37.000,32.979 36.105,33.875 35.000,33.875 ZM8.000,6.875 C7.448,6.875 7.000,7.323 7.000,7.875 L7.000,6.865 L7.000,6.865 L7.000,8.864 L10.497,8.864 L14.002,6.875 L8.000,6.875 ZM25.279,2.722 L13.839,8.896 L28.000,8.875 L25.279,2.722 ZM31.000,6.875 C31.000,6.875 31.000,6.875 31.000,6.875 L31.000,7.874 C31.000,7.322 30.552,6.875 30.000,6.875 L29.084,6.875 L29.952,8.864 L31.000,8.864 L31.000,7.874 C31.000,7.875 31.000,7.875 31.000,7.875 L31.000,6.875 ZM32.946,7.875 C32.965,7.724 32.990,7.576 32.990,7.420 L32.990,8.341 C32.990,8.340 32.990,8.339 32.990,8.338 L32.990,7.875 L32.946,7.875 ZM18.000,29.875 C18.000,34.846 13.971,38.875 9.000,38.875 C4.029,38.875 0.000,34.846 0.000,29.875 C0.000,24.904 4.029,20.875 9.000,20.875 C13.971,20.875 18.000,24.904 18.000,29.875 ZM2.000,29.875 C2.000,33.741 5.134,36.875 9.000,36.875 C12.866,36.875 16.000,33.741 16.000,29.875 C16.000,26.009 12.866,22.875 9.000,22.875 C5.134,22.875 2.000,26.009 2.000,29.875 ZM9.998,25.875 C9.998,26.427 9.550,26.875 8.998,26.875 C8.446,26.875 7.998,26.427 7.998,25.875 C7.998,25.322 8.446,24.875 8.998,24.875 C9.550,24.875 9.998,25.322 9.998,25.875 ZM10.000,29.874 L10.000,32.874 L11.000,32.874 L11.000,34.874 L7.000,34.874 L7.000,32.874 L8.000,32.874 L8.000,29.874 L7.000,29.874 L7.000,27.874 L10.000,27.874 L10.000,29.874 Z")

					a(class="title" href="#") Saving Tips
					p.text The Emerald Buddha is a figurine of a sitting Budha, that is the is the palladium of the Kingdom of Thailand. 

			div.col-sm-4.col-xs-12
				div.whyjoin-reason-item._right
					a(class="icon productreview" href="#")
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="42" height="36" viewBox="0 0 42 36" class="svg-properties")
							path(class="color" d="M39.000,16.000 L37.012,16.000 L33.000,20.012 L28.988,16.000 L27.000,16.000 C25.343,16.000 24.000,14.657 24.000,13.000 L24.000,3.000 C24.000,1.343 25.343,-0.000 27.000,-0.000 L39.000,-0.000 C40.657,-0.000 42.000,1.343 42.000,3.000 L42.000,13.000 C42.000,14.657 40.657,16.000 39.000,16.000 ZM40.000,4.000 C40.000,2.895 39.105,2.000 38.000,2.000 L28.000,2.000 C26.895,2.000 26.000,2.895 26.000,4.000 L26.000,12.000 C26.000,13.105 26.895,14.000 28.000,14.000 L29.988,14.000 L33.000,17.012 L36.012,14.000 L38.000,14.000 C39.105,14.000 40.000,13.105 40.000,12.000 L40.000,4.000 ZM37.019,7.008 L28.981,7.008 C28.441,7.008 28.004,6.557 28.004,6.000 C28.004,5.443 28.441,4.992 28.981,4.992 L37.019,4.992 C37.559,4.992 37.996,5.443 37.996,6.000 C37.996,6.557 37.559,7.008 37.019,7.008 ZM30.981,8.992 L35.019,8.992 C35.559,8.992 35.996,9.443 35.996,10.000 C35.996,10.556 35.559,11.008 35.019,11.008 L30.981,11.008 C30.441,11.008 30.004,10.556 30.004,10.000 C30.004,9.443 30.441,8.992 30.981,8.992 ZM17.000,33.714 L30.000,30.000 L30.000,19.947 L32.000,21.993 L32.000,32.000 L16.000,36.000 L-0.000,32.000 L-0.000,18.000 L-0.000,9.000 L-0.000,8.000 L16.000,4.000 L22.000,5.500 L22.000,7.701 L16.079,6.000 L2.937,9.734 L16.000,13.000 L22.000,11.500 L22.000,13.714 L17.000,14.786 L17.000,33.714 ZM15.000,14.786 L2.000,12.000 L2.000,18.000 L2.000,30.000 L15.000,33.714 L15.000,14.786 Z")
					
					a(class="title" href="#") Product Reviews
					p.text The Emerald Buddha is a figurine of a sitting Budha, that is the is the palladium of the Kingdom of Thailand. 

			div.col-sm-4.col-xs-12
				div.whyjoin-reason-item._left
					a(class="icon expertreview" href="#")
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="40.969" height="37" viewBox="0 0 40.969 37" class="svg-properties")
							path(class="color" d="M31.969,37.000 C26.998,37.000 22.969,32.971 22.969,28.000 C22.969,23.029 26.998,19.000 31.969,19.000 C36.940,19.000 40.969,23.029 40.969,28.000 C40.969,32.971 36.940,37.000 31.969,37.000 ZM31.969,21.000 C28.103,21.000 24.969,24.134 24.969,28.000 C24.969,31.866 28.103,35.000 31.969,35.000 C35.835,35.000 38.969,31.866 38.969,28.000 C38.969,27.077 38.780,26.201 38.456,25.394 L32.279,31.571 C32.246,31.619 32.226,31.672 32.184,31.715 C31.987,31.912 31.727,32.002 31.469,31.996 C31.211,32.002 30.951,31.912 30.754,31.715 C30.712,31.672 30.692,31.619 30.660,31.572 L27.754,28.667 C27.373,28.285 27.373,27.667 27.754,27.285 C28.136,26.904 28.754,26.904 29.135,27.285 L31.469,29.619 L37.425,23.663 C36.142,22.053 34.188,21.000 31.969,21.000 ZM21.764,19.639 C22.429,19.978 23.055,20.378 23.658,20.808 C23.221,21.313 22.831,21.858 22.491,22.437 C21.634,21.827 20.714,21.300 19.721,20.909 C18.281,21.601 16.674,22.000 14.969,22.000 C13.264,22.000 11.657,21.601 10.217,20.909 C5.686,22.692 2.394,26.936 2.008,32.000 L0.005,32.000 C0.362,26.592 3.589,21.976 8.174,19.639 C5.617,17.625 3.969,14.508 3.969,11.000 C3.969,4.925 8.894,-0.000 14.969,-0.000 C21.044,-0.000 25.969,4.925 25.969,11.000 C25.969,14.508 24.321,17.625 21.764,19.639 ZM14.969,2.000 C9.998,2.000 5.969,6.029 5.969,11.000 C5.969,15.971 9.998,20.000 14.969,20.000 C19.940,20.000 23.969,15.971 23.969,11.000 C23.969,6.029 19.940,2.000 14.969,2.000 Z")

					a(class="title" href="#") Expert Reviews
					p.text The Emerald Buddha is a figurine of a sitting Budha, that is the is the palladium of the Kingdom of Thailand. 

			div.col-sm-4.col-xs-12
				div.whyjoin-reason-item
					a(class="icon webinar" href="#")
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="32" height="30" viewBox="0 0 32 30" class="svg-properties")
							path(class="color" d="M30.000,23.000 L17.972,23.000 L17.972,28.000 L21.000,28.000 L21.000,30.000 L12.000,30.000 L12.000,28.000 L14.981,28.000 L14.981,23.000 L2.000,23.000 C0.896,23.000 0.000,22.105 0.000,21.000 L0.000,2.000 C0.000,0.896 0.896,0.000 2.000,0.000 L30.000,0.000 C31.105,0.000 32.000,0.896 32.000,2.000 L32.000,21.000 C32.000,22.105 31.105,23.000 30.000,23.000 ZM30.000,2.000 L2.000,2.000 L2.000,21.000 L14.981,21.000 L17.972,21.000 L30.000,21.000 L30.000,2.000 Z")
					
					a(class="title" href="#") Webinars
					p.text The Emerald Buddha is a figurine of a sitting Budha, that is the is the palladium of the Kingdom of Thailand. 

			div.col-sm-4.col-xs-12
				div.whyjoin-reason-item._right
					p.join Be a member of smart  money 
						u 
							b community
					button(class="btn-join" onclick="location.href='#'") Join Now
