div.container.testimonials
	div.row
		h2 Testimonials
	
	div.row
		h3 Looking For Your Dvd Printing Solution
	
	div.row
		div.col-lg-6.testimonials-item
			p All the rumors have finally died down and many skeptics have tightened their lips, the iPod does support video format now on its fifth generation. While the iPod is not the first to come up with this, it has certainly made its stature as the greatest in the market and can be dubbed as the best multimedia portable player available.
				span John Doe
					a(href="#") Head of Souq 

		div.col-lg-6.testimonials-item
			p.right The buying of large-screen TVs has absolutely skyrocketed lately. It seems that everyone wants one – and with good reason. The large-screen TV has come a long way from those faded-out behemoths of old that took up half your living room and never really produced a picture of decent quality. Now, however, especially in combination with HDTV, you can get not only a nice, large picture, but a crisp, clean 
				span Terry Franklin
					a(href="#") Head of Amazon 