div.community-text
	div.container
		div.row
			p
				| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.

			p
				| About 64% of all on-line teens say that do things online that they wouldn’t want their parents to know about. 11% of all adult internet users visit dating websites and spend their time in chatrooms. Some of the classify their behavior as “cyber affair” More then 60% of employees use company PC for the personal needs during their work hours as long as 80 minutes per day. Do the math. It’s an essential time and money waste  That’s why today the question of controlling the internet usage is on the rise. The best way to verify the proper usage of your PC is to use the software known as monitoring, spy or surveillance software, developed to record user’s activities on a computer. Such software 