div.slider-bg.detail
  div.container
    div.slider
      h1 The Foolish Fantasies of Fintech/Bank Partnerships
      
      include share.pug

      ul.slider-list
        li
          a(href="#") FINANCIAL
        li
          a(href="#") SMART MONEY
        li
          a(href="#") INVESTMENT
        li
          a(href="#") LOAN
        li
          a(href="#") BANKING
        li
          a(href="#") INVESTMENT
          
      a(class="slider-arrowdown" href="#")