div.slider.slider-detail
  div.container
    div.slider-body
      h1 The Foolish Fantasies of Fintech/Bank Partnerships
      
      include share.pug

      ul.slider-body-buttons
        li
          a(href="#") FINANCIAL
        li
          a(href="#") SMART MONEY
        li
          a(href="#") INVESTMENT
        li
          a(href="#") LOAN
        li
          a(href="#") BANKING
        li
          a(href="#") INVESTMENT
          
      a(class="slider-arrowdown hidden-xs" href="#")