footer.container-fluid.footer
	div.container
		div.row
			section.col-lg-5.col-sm-5.col-xs-12
				div.footer-list._home
					h2.title Home
					ul.footer-list_item
						li
							a(href="/why-join.html") Why Join
						li
							a(href="#") Community
						li
							a(href="#") Smart Advice
					ul.footer-list_item
						li
							a(href="#") Deals & Offers
						li
							a(href="#") Tools & Planners
						li
							a(href="#") Get in touch

			section.col-lg-5.col-sm-4.col-xs-12
				div.footer-list._followus
					h2.title FOLLOW US
					ul.footer-list_item
						li.item-icon._facebook
							a(href="#") Facebook
						li.item-icon._twitter
							a(href="#") Twitter
						li.item-icon._instagram
							a(href="#") Instagram
					ul.footer-list_item
						li.item-icon._youtube
							a(href="#") Youtube
						li.item-icon._gplus
							a(href="#") Google Plus
						li.item-icon._in
							a(href="#") Linked In

			section.col-lg-2.col-sm-3.col-xs-12
				div.footer-list._git
					h2.title GET IN TOUCH
					ul.footer-list_item
						li.item-icon._mail
							a(href="#") info@smartm.ae
						li.item-faq
							a(href="#") FAQS

		div.row
			div.col-lg-7.col-xs-12
				div.copyright.left-list
					div.copyright-item._logo
						a(class="logolink" href="#")
					
					div.copyright-item._text
						p.p_copyright Copyright © 2016 MoneySmart
						p.p_line.hidden-xs &emsp;|&emsp;
						p.p_brought Brought together by

					div.copyright-item._partner
						a(class="logolink" href="#")

			div.col-lg-5.col-xs-12
				div.copyright.right-list
					p.text
						a(href="#") Term and Conditions
						a &emsp;|&emsp;
						a(href="#") Privacy Policy