.main-title.community {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  margin: auto;
}
@media (max-width: 768px) {
  .main-title.community {
    margin-bottom: 42px;
    padding-left: 21px;
    padding-top: 42px;
  }
}