.similar {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #e2e4e6;
  padding-top: 89px;
  font-family: helvetica;
  font-size: 16px;
  color: #637188;

  &-title {
    margin: 0;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 25px;
    font-size: 36px;
    color: #3c4759;
  }
  &-subtitle {
    margin-bottom: 55px;
  }

  .article-item {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 115px;
  }
}

@media (max-width: 767px) {
  .similar {
    padding-top: 40px;
    font-size: 24px;

    &-title {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      font-size: 28px;
    }

    .article-item {
      display: block;
      position: relative;
      height: 200px;
      margin: auto;
      margin-bottom: 30px;

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #e2e4e6;
        margin-bottom: 29px;
      }

      .article-button {
        display: none;
      }

      .article-item-info {
        position: absolute;
        height: 20px;
        top: 90px;
        left: 145px;
        font-family: helvetica-light;
        text-transform: none;

        .article-views {
          display: none;
        }
        .article-date {
          width: 180px;
          top: 50px;
          left: 155px;
          font-size: 14px;
          color: #637188;
          font-family: helvetica;
          &:before {
            content: none;
          }
        }

        .icon-watch {
          display: inline-block;
          vertical-align: sub;
          fill: #637188;
          width: 16px;
          height: 16px;
          margin-right: 5px;
        }
      }

      .article-item-link {
        display: none;
        height: 140px;
        width: 86px;
      }

      .article-item-title {
        display: none;
      }

      .article-item-img {
        background: #384355 url(assets/img/article-bg_mobile.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 140px;
        height: 86px;
        margin-bottom: 20px;
        &:before {
          content: none;
        }
        .image-style {
        width: 140px;
        height: 86px;
        }
      }

      .article-item-category {
        position: absolute;
        width: 100px;
        left: 155px;
        top: 40px;
        padding: 5px 15px;
        font-size: 14px;
      }

      .article-item-text {
        margin: 0;
        display: block;
        height: 55px;
        overflow: hidden;
        font-size: 20px;
        color: #3c4759;
      }
    }

    ._first-child:before {
      background-color: transparent;
    }
  }
}