.content {
  text-align: justify;
  font-size: 16px;
  font-family: helvetica;
  line-height: 24px;
  color: #637188;

  &-item {
    margin-top: 0;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    font-size: 20px;

    &-item {
      margin-right: 0;
      margin-left: 0;
    }
  }
}