@media (min-width: 768px) {
  .footer {
    background-color: #3c4759;
    padding: 0;
    font-size: 14px;
    font-family: helvetica-light;
    color: #a3b0c9;

    &:before {
      display: block;
      content: "";
      height: 8px;
      background: #00aeef;
    }
    &-list {
      margin-right: -15px;
      margin-left: -15px;
      margin-bottom: 70px;
      padding: 0;
      padding-top: 51px;

      &-title {
        margin: 0;
        font-size: 14px;
        text-transform: uppercase;
      }
      &-item {
        display: inline-block;
        margin-top: 14px;
        li {
          padding-bottom: 20px;
        }
        a {
          font-size: 14px;
          font-family: helvetica;
          color: #a3b0c9;
          font-weight: 300;
        }
      }
    }
    ._home {
      .footer-list-item {
        padding-right: 98px;

        &:last-child {
          padding-right: 0px;
        }
      }
    }
    ._followus {
      .item-icon {
        &:before {
          display: inline-block;
          vertical-align: middle;
          content: "";
          width: 24px;
          height: 24px;
          margin-right: 5px;
          margin-left: -2px;
        }
      }
      padding-left: 21px;
      .footer-list-item {
        padding-right: 64px;
        
        &:last-child {
          padding-right: 0px;
        }
        
        li {
          padding-bottom: 18px;
        }
        a {
          display: inline-block;
          vertical-align: middle;
        }
        ._facebook {
          &:before {
            background: url(assets/img/footer-facebook.png);
          }
        }
        ._twitter {
          &:before {
            background: url(assets/img/footer-twitter.png);
          }
        }
        ._instagram {
          &:before {
            background: url(assets/img/footer-instagram.png);
          }
        }
        ._gplus {
          &:before {
            margin-right: 10px;
            background: url(assets/img/footer-gplus.png);
          }
        }
        ._youtube {
          &:before {
            margin-right: 10px;
            background: url(assets/img/footer-youtube.png);
          }
        }
        ._in {
          &:before {
            margin-right: 10px;
            background: url(assets/img/footer-in.png);
          }
        }
      }
    }
    ._git {
      .item-icon {
        &:before {
          display: inline-block;
          vertical-align: middle;
          content: "";
          width: 24px;
          height: 24px;
          margin-right: 5px;
          margin-left: -2px;
        }
      }
      float: right;
      max-width: 126px;
      .footer-list-item {
        ._mail {
          &:before {
            margin-left: -4px;
            background: url(assets/img/footer-mail.png);
          }
        }
      }
      .item-faq {
        padding-top: 41px;
        padding-bottom: 0;
        a {
          display: inline-block;
          vertical-align: middle;
          color: #fff;
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: #f2f3f4;
          font-size: 14px;
          font-family: helvetica;
          font-weight: 300;
        }
      }
    }
    
    %copyright {
      display: inline-block;
      vertical-align: bottom;
      margin-right: -15px;
      margin-left: -15px;
      margin-bottom: 36px;
      color: #a3b0c9;
      font-size: 15px;
      font-family: helvetica;
      font-weight: 300;
      a {
        color: #a3b0c9;
        font-size: 15px;
        font-family: helvetica;
        text-align: right;
        font-weight: 300;
      }
    }

    %copyright-item {
      display: inline-block;
      vertical-align: bottom;
    }

    .copyright {
      @extend %copyright;

      &-logo {
        @extend %copyright-item;
        margin-bottom: 5px;
        margin-right: 28px;
        width: 94px;
        height: 44px;
        background-image: url(assets/img/footer-logo.png);
      }

      &-text {
        @extend %copyright-item;
        width: 390px;
        color: #a3b0c9;
        font-size: 15px;
        font-family: helvetica;
        font-weight: 300;

        &-name {
          display: inline;
          margin: 0;
          padding: 0;
        }

        &-splitter {
          display: inline;
          margin: 0;
          padding: 0;
        }

        &-brought {
          display: inline;
          margin: 0;
          padding: 0;
        }
      }

      &-partner {
        @extend %copyright-item;
        width: 145px;
        height: 27px;
        margin-bottom: -2px;
        background-image: url(assets/img/footer-partner.png);
      }
    
      &-right {
        @extend %copyright;
        padding-top: 23px;
        margin-right: -15px;
        margin-left: -15px;
        
        &-text {
          display: block;
          margin: 0;
          margin-top: 5px;
          text-align: right;
        }
      }
    }
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .footer {
    &-list {
      &-item {
        &:last-child {
          padding-right: 0px;
        }
      }
    }
    ._home {
      .footer-list-item {
        padding-right: 50px;
      }
    }
    ._followus {
      padding-left: 0;
      .footer-list-item {
        padding-right: 40px;
      }
    }
    .copyright {
      display: block;
      width: 670px;
      margin: auto;
      margin-bottom: 20px;
      
      &-right {
        display: block;
        width: 305px;
        margin: auto;
        margin-bottom: 36px;
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {
    background-color: #333e50;
    padding: 0;
    .container {
      padding: 0;
      .row {
        margin: 0;
      }
    }
    section {
      width: 100%;
      margin: auto;
      padding: 0;
      float: none;
      font-family: helvetica-light;
    }
    .footer-list {
      margin-bottom: 4px;
      padding-top: 40px;
      padding-right: 70px;
      padding-left: 70px;
      background-color: #3c4759;
      
      &-title {
        margin: 0;
        text-transform: uppercase;
        font-size: 20px;
        color: #fff;
      }
      &-item {
        display: inline-block;
        margin-top: 24px;
        li {
          padding-bottom: 27px;
          &:last-child {
            padding-bottom: 40px;
          }
          a {
            font-size: 24px;
            color: #a3b0c9;
          }
        }
        .item-icon {
          &:before {
            display: inline-block;
            vertical-align: middle;
            content: "";
            width: 24px;
            height: 24px;
            margin-right: 10px;
            margin-left: -2px;
            background-repeat: no-repeat;
          }
        }
        &:last-child {
          padding-right: 0px;
        }
      }
    }
    ._home {
      padding-top: 70px;
      .footer-list-item {
        padding-right: 130px;
      }
    }
    ._followus {
      .footer-list-item {
        padding-right: 142px;
        li {
          padding-bottom: 27px;
          a {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
      .item-icon._facebook {
        &:before {
          background: url(assets/img/footer-facebook.png);
        }
      }
      .item-icon._twitter {
        &:before {
          background: url(assets/img/footer-twitter_m.png);
        }
      }
      .item-icon._instagram {
        &:before {
          background: url(assets/img/footer-instagram_m.png);
        }
      }
      .item-icon._gplus {
        &:before {
          width: 28px;
          height: 18px;
          margin-right: 6px;
          background: url(assets/img/footer-gplus_m.png);
        }
      }
      .item-icon._youtube {
        &:before {
          background: url(assets/img/footer-youtube_m.png);
        }
      }
      .item-icon._in {
        &:before {
          margin-top: -6px;
          background: url(assets/img/footer-in_m.png);
        }
      }
    }
    ._git {
      .item-icon._mail {
        &:before {
          margin-top: -8px;
          height: 22px;
          width: 26px;
          background: url(assets/img/footer-mail_m.png);
        }
      }
      .item-faq {
        a {
          display: inline-block;
          vertical-align: middle;
          color: #fff;
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: #f2f3f4;
          font-size: 20px;
          font-family: helvetica;
          font-weight: 300;
        }
      }
    }
    .copyright {
      margin-top: 0;
      padding-top: 65px;
      color: #a3b0c9;
      font-size: 16px;
      font-family: helvetica;
      font-weight: 300;
      a {
        color: #a3b0c9;
        font-size: 16px;
        font-family: helvetica;
        font-weight: 300;
      }
    }
    .left-list {
      color: #a3b0c9;
      font-size: 16px;
      font-family: helvetica;
      font-weight: 300;
    }
    .copyright-item {
      ._logo {
        a.logolink {
          margin: auto;
          display: block;
          width: 175px;
          height: 82px;
          background-image: url(assets/img/footer-logo_m.png);
        }
      }
    }
    ._text {
      padding-top: 25px;
      color: #a3b0c9;
      font-size: 15px;
      font-family: helvetica;
      font-weight: 300;
      .p_copyright {
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
      }
      .p_brought {
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
      }
    }
    ._partner {
      a.logolink {
        display: block;
        margin: auto;
        margin-bottom: 20px;
        width: 145px;
        height: 27px;
        background-image: url(assets/img/footer-partner.png);
      }
    }
    .right-list {
      padding-top: 0;
      .text {
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
        font-size: 24px;
      }
    }
  }
}
