.header {
  &-list {
    &:first-child {
      margin-left: -15px;
    }

    &-item {
      padding-top: 23px;
      padding-right: 30px;
      padding-bottom: 23px;
      padding-left: 30px;
      a {
        color: #3c4759;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 700;

        &:hover {
          color: #00aeef;
        }
      }
      &._language-item {
        a {
          font-weight: 300;
        }

        &:before {
          position: absolute;
          top: 19px;
          right: -1px;
          content: "";
          width: 1px;
          height: 24px;
          background-color: #b7c3db;
        }
      }
    }
  }
  .nav {
    height: 66px;
  }
  .navbar-right {
    .header-list-item {
      &:last-child {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
}
._underlined {
  &:hover {
    border-bottom-width: 2px;
    border-bottom-color: #00aeef;
    border-bottom-style: solid;
  }
}