@media (min-width: 768px) {
  .navblock-bg {
    background-color: #00aeef;
  }

  .navblock {
    margin-bottom: 0;
    height: 120px;
    border: none;
  }

  .navblock a {
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
  }

  .navblock .navbar-list > li > a,
    .navblock .navbar-search > li > a {
    padding: 0;
  }

  .navblock .navbar-logo .navbar-logo_item {
    width: 195px;
    height: 120px;
    background-image: url(assets/img/navblock-logo.png);
    background-color: #fff;
  }

  .navblock .navbar-collapseblock {
    display: inline-block;
  }

  .navblock .navbar-list {
    margin-left: -3px;
  }

  .navblock .navbar-list_item {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .navblock .navbar-list_item a:hover {
    border-bottom-width: 2px;
    border-bottom-color: #fff;
    border-bottom-style: solid;
  }

  .navblock .navbar-search {
    margin-right: 0;
  }

  .navblock .navbar-search li {
    padding-top: 44px;
    padding-bottom: 44px;
  }

  .navblock .navbar-search li .icon-search {
    width: 27px;
    height: 27px;
    fill: #fff;
  }
}

@media (max-width: 767px) {
  .navblock-bg {
    padding: 0;
    background-color: #fff;
    font-family: sans-serif;
    font-weight: 700;
  }

  .navblock-bg .container {
    padding: 0;
  }

  .navblock-bg .container .row {
    margin: 0;
  }

  .navblock {
    width: 640px;
    margin: auto;
    border: none;
  }

  .navblock a {
    font-size: 24px;
    color: #00aeef;
  }

  .navblock .nav {
    height: 130px;
  }

  .navblock ._navblock-toggle {
    position: static;
    float: left;
    margin: 0;
    margin-left: 50px;
    padding: 0;
    padding-top: 46px;
    padding-bottom: 45px;
  }

  .navblock ._navblock-toggle .icon-toggle {
    display: block;
    width: 57px;
    height: 3px;
    margin: 7px 0;
    background-color: black;
  }

  .navblock .navbar-logo {
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0;
  }

  .navblock .navbar-logo .navbar-logo_item {
    display: block;
    width: 162px;
    height: 130px;
    margin-left: -76px;
    padding: 0;
    background-image: url(assets/img/navblock-logo-m.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  .navblock .navbar-collapseblock .in {
    width: 640px;
    height: 320px;
  }

  .navblock .navbar-list_item {
    padding: 15px 35px;
  }

  .navblock .navbar-search {
    position: absolute;
    right: 50px;
    top: -10px;
    margin-right: 0;
  }

  .navblock .navbar-search li {
    padding-top: 43px;
    padding-bottom: 43px;
  }

  .navblock .navbar-search li .icon-search {
    width: 43px;
    height: 43px;
    fill: #3c4759;
  }

  .navblock .navbar-list > li > a,
    .navblock .navbar-search > li > a {
    padding: 0;
  }
}