%why-join-reason_propeties
	display: block
	text-align: center
	color: #637188

.whyjoin-reason-item._left 
	float: left

.whyjoin-reason-item._right 
	float: right

.whyjoin-reason-item 
	margin-bottom: 95px
	font-family: helvetica
	.icon 
		display: block	
		margin: 0 auto
		margin-bottom: 12px
	
		.color
			fill: #3c4759
			fill-rule: evenodd

	.user 
		width: 56px

	.account 
		width: 43px
		margin-bottom: 20px

	.financing 
		width: 34px
		margin-bottom: 18px

	.deals 
		width: 33px

	.title
		@extend %why-join-reason_propeties
		margin-bottom: 18px
		font-size: 26px
		color: #3c4759

	.text
		@extend %why-join-reason_propeties
		margin: 0 auto
		max-width: 300px
		font-size: 16px

	.join
		@extend %why-join-reason_propeties
		margin: auto
		margin-bottom: 20px
		max-width: 310px
		font-size: 30px
		color: #3c4759

	.btn-join, 
	.btn-join:hover, 
	.btn-join:active 
		display: block
		margin: 0 auto
		padding: 0 97px
		padding-top: 17px
		padding-bottom: 13px
		border: none
		border-radius: 0
		background-image: none
		background-color: #00aeef 
		text-shadow: none
		outline: none
		font-size: 18px
		color: #fff

	&:hover 
		.icon .color
			fill: #00aeef
			fill-rule: evenodd

		.title
			@extend %why-join-reason_propeties
			font-size: 26px
			color: #00aeef


@media (max-width: 767px) 
	.whyjoin-reason-item._left,
	.whyjoin-reason-item._right 
		float: none

	.whyjoin-product .btn-product
		margin: auto
		
		&:hover
			margin: auto