div.whyjoin-product
	div.container
		div.row
			h1 ADIB Products
			p.text Enjoy efficient serv​ices and great added-value features with every banking product you choose from ADIB. Whether you’re looking to grow your wealth or finance your dream home, ADIB has a wide range of banking products especially tailored to suit your different needs.
			
			div.col-lg-2.col-sm-4
				div.whyjoin-product_item
					a(class="icon" href="#")
					a(class="title" href="#") Salary advance

			div.col-lg-2.col-sm-4
				div.whyjoin-product_item
					a(class="icon" href="#")
						svg(class="icon-calculator")
							use(xlink:href="#icon-calculator")
					a(class="title" href="#") P2P payments

			div.col-lg-2.col-sm-4
				div.whyjoin-product_item
					a(class="icon" href="#")
						svg(class="icon-basket")
							use(xlink:href="#icon-basket")
					a(class="title" href="#") Account

			div.col-lg-2.col-sm-4
				div.whyjoin-product_item
					a(class="icon" href="#")
						svg(class="icon-layers")
							use(xlink:href="#icon-layers")
					a(class="title" href="#") Salary advance

			div.col-lg-2.col-sm-4
				div.whyjoin-product_item
					a(class="icon" href="#")
						svg(class="icon-wallet")
							use(xlink:href="#icon-wallet")
					a(class="title" href="#") P2P payments

			div.col-lg-2.col-sm-4
				div.whyjoin-product_item
					a(class="icon" href="#")
						svg(class="icon-box")
							use(xlink:href="#icon-box")
					a(class="title" href="#") Account

			button(class="btn-product" onclick="location.href='#'") View all products