doctype html
html(lang="ru")
	include includes/detail/head.pug

	body
		include includes/header.pug
		include includes/navblock.pug
		include includes/detail/slider.pug
		include includes/detail/content.pug
		//- include includes/detail/text.pug
		//- include includes/detail/reason.pug
		//- include includes/detail/testimonials.pug
		//- include includes/detail/testimonials.pug
		include includes/footer.pug
	
	script(src="scripts.js")