doctype html
html(lang="ru")
	include includes/head.pug

	body
		include includes/header.pug
		include includes/navblock.pug
		include includes/slider.pug
		include includes/filters.pug
		include includes/breadcrums.pug
		include includes/maintitle.pug
		include includes/article.pug
		include includes/old-btn.pug
		include includes/footer.pug
	
	script(src="scripts.js")