header.container.header.hidden-xs
  div.row
    div.col-md-10.col-md-offset-2
      ul.nav.navbar-nav.header-list
        li.header-list-item
          a(href="/") MoneySmart
        li.header-list-item
          a(href="/community.html") Community
        li.header-list-item
          a(href="#") Banking

      ul.nav.navbar-nav.navbar-right.header-list
        li.header-list-item._language-item
          a(href="#") AR
        li.header-list-item
          a(class="_underlined" href="#") Login
        li.header-list-item
          a(class="_underlined" href="#") Join Now