header.container.header.hidden-xs
  div.row
    div.col-md-10.col-md-offset-2
      ul.nav.navbar-nav.navbar-list
        li.navbar-list_item
          a(href="#") MoneySmart
        li.navbar-list_item
          a(href="#") Community
        li.navbar-list_item
          a(href="#") Banking

      ul.nav.navbar-nav.navbar-right.navbar-list._login
        li.navbar-list_item._line
          a(href="#") AR
        li.navbar-list_item
          a(class="underlined" href="#") Login
        li.navbar-list_item
          a(class="underlined" href="#") Join Now