nav.navblock
  div.container
    div.row
      div.navbar
        div.navbar-header
          button(type="button" class="navbar-toggle collapsed navbar-toggles" data-toggle="collapse" data-target="#navblock")
            span.navbar-toggles-item
            span.navbar-toggles-item
            span.navbar-toggles-item
        div.navbar-logo
          a(class="navbar-logo-item" href="/")

        ul.navbar-collapseblock
          ul(id="navblock" class="collapse navbar-collapse")
            ul.nav.navbar-nav.navbar-list
              li.navbar-list-item
                a(href="/why-join.html") Why Join
              li.navbar-list-item.hidden-sm.hidden-md
                a(href="/community.html") About Community
              li.navbar-list-item.hidden-sm.hidden-md
                a(href="#") Smart Advice
              li.navbar-list-item
                a(href="#") Deals & Offers
              li.navbar-list-item
                a(href="#") Tools & Planners
              li.navbar-list-item.hidden-sm
                a(href="#") Get in touch

        ul.nav.navbar-nav.navbar-right.navbar-search
          a(href="#")
            svg.icon-search
              use(xlink:href="#icon-search")