div.slider-bg
  div.container
    div.slider
      h1 See what else is new...
      h2 Lorem ipsum dolor sit ametsed do eiusmod tempor incididunt ut labore et dolore magna <b>77 Discussions</b>
      ul.slider-list
        li
          a(href="#") FINANCIAL
        li
          a(href="#") SMART MONEY
        li
          a(href="#") INVESTMENT
        li
          a(href="#") LOAN
        li
          a(href="#") BANKING
