doctype html
html(lang="ru")
  include includes/detail/head.pug

  body
    include includes/svg.pug
    include includes/header.pug
    include includes/navblock.pug
    include includes/detail/slider.pug
    include includes/detail/content.pug
    include includes/detail/comments.pug
    include includes/detail/change-page.pug
    include includes/detail/similar.pug
    include includes/footer.pug
  
  script(src="libs.min.js")
  script(src="scripts.js")