doctype html
html(lang="ru")
  include includes/head.pug

  body
    include includes/svg.pug
    include includes/header.pug
    include includes/navblock.pug
    include includes/slider.pug
    include includes/index/filters.pug
    include includes/index/breadcrums.pug
    include includes/index/pagetitle.pug
    include includes/index/article.pug
    include includes/index/old-btn.pug
    include includes/footer.pug
  
  script(src="libs.min.js")
  script(src="scripts.js")