doctype html
html(lang="ru")
  include includes/head.pug

  body.whyjoin
    include includes/svg.pug
    include includes/header.pug
    include includes/navblock.pug
    include includes/why-join/slider.pug
    include includes/why-join/content.pug
    include includes/why-join/reason.pug
    include includes/why-join/product.pug
    include includes/why-join/extrareasons.pug
    include includes/footer.pug

  script(src="libs.min.js")
  script(src="scripts.js")