div.container.filters
  div.row
    div.col-sm-5.col-xs-10
      div.filters-search
        input(type="text" placeholder="What are you looking for?")
    
    div.col-sm-3.hidden-xs
      button.filters-date 
        svg.icon-calendar
          use(xlink:href="#icon-calendar")
        p.filters-date-label By Date
    
    div.col-lg-2.col-lg-offset-1.col-sm-3.col-xs-2
      button.filters-sort
        svg.icon-filter
          use(xlink:href="#icon-filter")
        p.filters-date-label.hidden-xs By Categories
    
    div.col-sm-1.hidden-xs
      button(type="button" class="filters-apply")
        svg.icon-arrow
          use(xlink:href="#icon-arrow")