ul.detail-share
	li.share-item._text Share

	li.share-item
		a(href="#")
			svg.icon-facebook
				use(xlink:href="#icon-facebook")

	li.share-item
		a(href="#")
			svg.icon-twitter
				use(xlink:href="#icon-twitter")

	li.share-item
		a(href="#")
			svg.icon-in
				use(xlink:href="#icon-in")

	li.share-item
		a(href="#")
			svg.icon-rss
				use(xlink:href="#icon-rss")