ul.detail-share
	li.share-item._text Share
		
	li.share-item._facebook
		a( class="icon" href="#")
			
	li.share-item._twitter
		a( class="icon" href="#")

	li.share-item._in
		a( class="icon" href="#")

	li.share-item._rss
		a( class="icon" href="#")