.breadcrumbs {
  padding-top: 33px;
  font-size: 16px;
  font-family: helvetica;
  color: #3c4759;
  
  &-list {
    padding: 0;
    padding-left: 2px;
    background-color: transparent;
    
    &-active {
      color: #3c4759;
    }
    
    a {
      font-size: 16px;
      font-family: helvetica;
      color: #00aeef;
    }
  }
}