.pagetitle {
  padding: 0;
  h1 {
    padding: 0;
    margin: 0;
    font-size: 48px;
    font-family: helvetica-bold;
    color: #3c4759;
  }
}
@media (max-width: 767px) {
  .pagetitle {
    width: 100%;
    margin: auto;
    margin-bottom: 42px;
    padding: 0;
    padding-top: 42px;
    padding-left: 21px;
    h1 {
      font-size: 32px;
    }
  }
}