.community
	b 
		font-family: helvetica-bold

	.whyjoin-reason-item
		.title
			color: #3c4759

		.text
			color: #3c4759

		.knowledge,
		.savingtips,
		.productreview,
		.expertreview,
		.webinar
			height: 38px

		.knowledge
			width: 56px

		.savingtips
			width: 37px

		.productreview 
			width: 42px

		.expertreview
			width: 41px

		.webinar
			width: 32px

@media (min-width: 769px) and (max-width: 991px)
	.community
		.whyjoin-reason-item 
			.btn-join,
			.btn-join:hover
				padding: 0 62px
				padding-top: 17px
				padding-bottom: 13px

@media (max-width: 768px)
	$svg-icons:	( knowledge: (89px, 60px), savingtips: (71px, 75px), productreview: (71px, 61px), expertreview: (71px, 65px), webinar: (55px, 52px) );
	%title
		max-width: 370px
		margin: auto
		margin-bottom: 40px
		font-size: 48px
		line-height: 56px



	.community
		.whyjoin-reason-item 

			@each $key, $value in $svg-icons
				$svg-width: nth($value, 1)
				$svg-height: nth($value, 2)

				.#{$key}
					width: $svg-width
					height: $svg-height

					.svg-properties
						width: $svg-width
						height: $svg-height

			.title
				@extend %title

			&:hover
				.title
					@extend %title

			.text
				max-width: 370px
				font-size: 24px
			
			.join
				margin-bottom: 45px

			.btn-join,
			.btn-join:hover
				padding: 0 252px
				padding-top: 25px
				padding-bottom: 21px
				font-size: 24px

			&:last-child
				margin-bottom: 65px