.testimonials
	padding-top: 115px
	font-family: helvetica
	font-size: 16px
	color: #637188

	h2
		text-align: center
		margin: 0 auto
		margin-bottom: 25px
		font-size: 36px
		color: #3c4759

	h3
		text-align: center
		margin: 0 auto
		margin-bottom: 65px
		font-size: 18px

	.testimonials-item
		padding: 0

		p 
			padding-left: 55px
			max-width: 520px
			text-align: justify

			&:before
				content: ""
				display: inline-block
				width: 40px
				height: 37px
				margin-left: -55px
				margin-right: 15px
				background-image: url("assets/img/community/quotes.png")
				background-repeat: none 

			span 
				display: block
				padding: 0
				margin: 0
				font-family: helvetica-bold
				color: #3c4759

				a 
					padding-left: 10px
					color: #00aeef
		p.right
			float: right
