
.article{
	padding: 0;
	padding-top: 49px;
}
.article-block {
	position: relative;
	display: inline-block;
	vertical-align: top;
	max-width: 370px;
	margin: 0 15px;
	margin-bottom: 42px;
	padding: 0;

}
.article-category {
 	position: absolute;
 	right: -10px; top: 170px;
 	padding:10px 15px;
	background: #242c3a;
	font-size: 16px;
	font-family: helvetica-light; 
	color: #fff;
} 
.article-img {
	background: #384355 url(../img/article-feedbg.png);
	width: 370px;
	height: 230px;
} 
.article_hover_button{
 	display: none;
}
.article-title {
	height: 104px;
	margin-top: 16px;
	font-size: 26px;
	font-family: helvetica; 
	color: #3c4759;
}
.article-info {
 	height: 16px;
	font-size: 14px;
	font-family: helvetica-light; 
	color: #637188; 
}
.article-info > li.views {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.article-info > li.views:before {
	content: "";
	display: inline-block;
	vertical-align: middle;	
	margin-top: 2px;
	margin-right: 5px;
	width: 16px;
	height: 16px;
	background: url(../img/article-views.png);
	background-repeat: no-repeat;
}	
.article-info > li.date {
	display: inline-block;
	vertical-align: middle; 
	height: 100%;
	margin-left: 15px;
}
.article-info > li.date:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	margin-top: 2px;
	width: 16px;
	height: 16px;
	background: url(../img/article-date.png);
}	
 .article-text {
 	display: block;
 	margin: 0;
	margin-top:21px;
	font-size: 16px;
	font-family: helvetica-light; 
	color: #637188; 
}	
.article-block:hover {
	transform: scale(1.21622, 1.34781);
	z-index: 1;
	margin-top: 38px;
	margin-bottom: 0;
	min-height: 449px;
	background-color: #2a3443;
}
.article-block:hover .article-category {
	transform: scale(0.822222, 0.73553);
	transform-origin: right top;
	position: absolute;
	top:12px;right:0;	
	padding:14px 16px;
	background: #242c3a;
	font-size: 17px;
	font-family: helvetica-light; 
	color: #fff;
} 
.article-block:hover .article_hover_button {
	display: block;
	transform: scale(0.822222, 0.73553);
 	position: absolute;
 	left: 27.5%; top:184px;
}
.article-block:hover .article_hover_button a{
 	width: 167px;
 	height: 51px;
 	padding: 15px 39px;
 	background-color: #00aeef; 
 	font-size: 18px;
	font-family: helvetica; 
	color: #fff;
}
.article-block:hover .article-img:after{
	content: "";
	display: block;
	position: absolute;
	top: 191px;
	width: 370px;
	height:40px;
	background: -moz-linear-gradient(bottom, rgba(42,52,67,1) 0%, rgba(42,52,67,0) 100%); 
    background: -webkit-linear-gradient(bottom, rgba(42,52,67,1) 0%, rgba(42,52,67,0) 100%);
    background: -o-linear-gradient(bottom, rgba(42,52,67,1) 0%, rgba(42,52,67,0) 100%);
} 
.article-block:hover .article-title {
	transform: scale(0.822222, 0.73553);
	transform-origin: left;
	height: 88px;
	width: 121.623%;
	margin-top: 6px;
	padding: 0 30px;
	text-align: center;	
	font-size: 30px;
	font-family: helvetica-light; 
	color: #fff;
}
.article-block:hover .article-info {
	transform: scale(0.822222, 0.73553);
	transform-origin: left;
	width: 105.5%;
	margin-top: 10px;
	margin-left: 24px;
	font-size: 14px;
	font-family: helvetica; 
	color: #a3b0c9;
}
.article-block:hover ul.article-info > li.views:before {
	margin-top: -2px;
	background: url(../img/article-views-hover.png);
}	
.article-block:hover ul.article-info > li.date:before {
	margin-top: 0px;
	background: url(../img/article-date-hover.png);
}	
.article-block:hover .article-text {
	transform: scale(0.822222, 0.73553);
	transform-origin: left;
	width: 121.623%;
	min-height: 90px;
	margin-top: 0px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 17px;
	font-family: helvetica;
	font-weight: 300; 
	color: #637188;
}