 .breadcrum {
 	margin: 33px 0 0 11px;
	font-size: 16px;
	font-family: helvetica;
	color: #3c4759;	
	}
 .breadcrum a{
	font-size: 16px;
	font-family: helvetica;
	color: #00aeef;
	text-decoration:none;
	}
 .main-title {
 	margin-top: 20px;
 	margin-left: 6px;
	font-size: 48px;
	font-family: helvetica-bold;
	color: #3c4759; 
	}