.div-bread {
 	margin-top: 33px;	
	font-size: 16px;
	font-family: helvetica;
	color: #3c4759;	
}
.div-bread .list{
 	padding: 0;
 	padding-left: 2px;
 	background-color: transparent;
}
.div-bread .list > li > a{
	font-size: 16px;
	font-family: helvetica;
	color: #00aeef;
	}
.div-bread .list > li.active {
	color: #3c4759;
	}