 .filters {		
 	z-index: 1;	
	height: 90px;
	width: 1170px;
	margin-top: -45px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	font-size: 18px;
	font-family: helvetica;
	color: #3c4759;
	background-color: #fff;
	}	
.filters:before {
	content: "";
 	display: inline-block;
 	height: 100%;
 	vertical-align: middle;
	}
 .filters__el {						/* Filters, div search*/
	display: inline-block;
	vertical-align: middle;
	} 
 .filters__el_search {
 	width: 505px;
 } 
 .filters__el_search input{
	border:none;
	font-size: 18px;
	font-family: helvetica;
	color: #3c4759;
	color: #3c4759;
	width: 220px;
	outline:0;
	}
 .filters__el_search input:focus{
	outline: 0;
	}
 .filters__el_search:before{
	content: " ";
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
	width: 32px;
	height: 32px;
	background: url(img/filters-search.png); 			/* img size:22x22px, picture size 32x32px ->> padding: 5px; from img */
	}
 .filters__el_date {								/* Filters, div date*/
	width: 370px;
	} 
 .filters__el_date:before{
	content: " ";
	display: inline-block;
	vertical-align: middle;
	margin-left: 2px;
	margin-right: 9px;								/* 1px padding from text*/
	width: 32px;
	height: 32px;
	background: url(img/filters-calendar.png);			/* img size:32x28px, picture size 32x32px ->> padding: 2px 0; from img */
	}
 .filters__el_sort {								/* Filters, div sort*/
	width: 190px;
	}  	
 .filters__el_sort:before{
	content: " ";
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;								/* 1px padding from text and 6px from img*/
	margin-left: 2px;
	width: 32px;
	height: 32px;
	background: url(img/filters-category.png);			/* img size:21x28px, picture size 32x32px ->> padding: 2px 5px; from img */
	}	
	
 .filters__el_button {								/* Button to apply filters*/
	height: 80px;
	width: 80px;
	margin: 5px;
	background: #00aeef;
	border-radius: 2px;
	float: right;
	}
 .filters__el_button img{
	display: block;
	margin: 0 auto;
	margin-top: 27px; 
	}