 .filters {		
 	z-index: 1;
 	position: relative;	
	height: 90px;
	margin-top: -45px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	font-size: 18px;
	font-family: helvetica;
	color: #3c4759;
	background-color: #fff;
}	
.filters .search, .filters .date, .filters .sort  {
	padding-top: 30px;
	padding-bottom: 28px;
}
.filters .sort p.sort-text {
	display: inline;
}
.filters .search input{
	border:none;
	font-size: 18px;
	font-family: helvetica;
	color: #3c4759;
	color: #3c4759;
	width: 220px;
	outline:0;
}
.filters .search input:focus{
	outline: 0;
}
.filters .search:before{
	content: " ";
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
	width: 32px;
	height: 32px;
	background: url(../img/filters-search.png); 			/* img size:22x22px, picture size 32x32px ->> padding: 5px; from img */
}
 .filters .date:before{
	content: " ";
	display: inline-block;
	vertical-align: middle;
	margin-left: 14px;
	margin-right: 9px;
	width: 32px;
	height: 32px;
	background: url(../img/filters-calendar.png);			/* img size:32x28px, picture size 32x32px ->> padding: 2px 0; from img */
	} 	
 .filters .sort:before{
	content: " ";
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
	margin-left: 2px;
	width: 32px;
	height: 32px;
	background: url(../img/filters-category.png);			/* img size:21x28px, picture size 32x32px ->> padding: 2px 5px; from img */
	}	
 .filters .button {
 	padding: 0;
 } 
 .filters .button .array {
	height: 80px;
	width: 80px;
	margin: 5px;
	background-color: #00aeef;
	background-image: url(../img/filters-arrow.png);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 2px;
	float: right;
	border:none;
	}
 .filters .button .array:focus {
	border: none;
	outline: none;
}

@media (max-width: 767px) {
	.filters {
	height: 131px;
	width: 660px;
	margin: auto;
	margin-top: -65px;
	 }
	.filters .search {
	padding-top: 44px;
}
	.filters .search:before{
	content: " ";
	background: none;
	width: 0;
	height: 0;
	margin: 0;
}
	.filters .search input{
	margin-left: 20px;
	border:none;
	font-size: 30px;
	font-family: helvetica;
	color: #3c4759;
	color: #3c4759;
	width: 350px;
	outline:0;
}
		.filters .sort {
	padding-top: 50px;
}
	 .filters .sort:before{
	content: " ";
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	width: 41px;
	height: 31px;
	background: url(../img/filters-category_m.png);			/* img size:21x28px, picture size 32x32px ->> padding: 2px 5px; from img */
	}	
}