@media (min-width: 768px){
	.footer {
		background-color: #3c4759;
		padding: 0;
		font-size: 14px;
		font-family: helvetica-light;
		color: #a3b0c9;
	}
	.footer:before {
	 	display: block;
	 	content: "";
		height: 8px;
		background: #00aeef;
	}
	.footer-list {
		margin-right: -15px;
		margin-left: -15px;
		margin-bottom: 70px;
		padding: 0;
		padding-top: 51px;
	}
	.footer ._git {
		float: right;
		max-width: 126px;
	}
	.footer ._followus {
		padding-left:21px;
	}
	.footer-list > h2.title {
		margin: 0;
		font-size: 14px;
		text-transform: uppercase;
	}
	.footer-list_item {
		display: inline-block;
		margin-top: 14px;
	}
	.footer-list_item > li {								
		padding-bottom: 20px;
	}
	.footer-list_item > li > a {
	 	font-size: 14px;
		font-family: helvetica;
		color: #a3b0c9;
		font-weight: 300;
	}
	._home .footer-list_item {
		padding-right: 98px;
	}
	._followus .footer-list_item {
		padding-right: 64px;
	}
	._followus > ul.footer-list_item li {
		padding-bottom: 18px;
	}
	._followus > ul.footer-list_item a{
		display: inline-block;
		vertical-align: middle;
	}
	/* ---> Icons */
	._followus .item-icon:before,
	._git .item-icon:before{
		display: inline-block;
		vertical-align: middle;
		content: "";
		width: 24px;
		height: 24px;
		margin-right: 5px;
		margin-left: -2px;
	}
	._followus ._facebook:before{
		background: url(../img/footer-facebook.png);
	}
	._followus ._twitter:before{
		background: url(../img/footer-twitter.png);
	}
	._followus ._instagram:before{
		background: url(../img/footer-instagram.png);
	}
	._followus ._gplus:before{
		margin-right: 10px;
		background: url(../img/footer-gplus.png);
	}
	._followus ._youtube:before{
		margin-right: 10px;
		background: url(../img/footer-youtube.png);
	}
	._followus ._in:before{
		margin-right: 10px;
		background: url(../img/footer-in.png);
	}
	._git ._mail:before{
		margin-left: -4px;
		background: url(../img/footer-mail.png);
	}
	/* <--- Icons */
	._git .item-faq {
		padding-top: 41px;
		padding-bottom: 0;
		}	
	._git .item-faq a{
		display: inline-block;
		vertical-align: middle;
		color: #fff;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #f2f3f4;
	 	font-size: 14px;
		font-family: helvetica;
		font-weight: 300;
		}	
	.copyright {
		display: inline-block;
		vertical-align: bottom;
		margin-right: -15px;
		margin-left: -15px;
		margin-bottom: 36px;
		color: #a3b0c9;
	 	font-size: 15px;
		font-family: helvetica;
		font-weight: 300;
	}
	.copyright a{
		color: #a3b0c9;
	 	font-size: 15px;
		font-family: helvetica;
		text-align:right;
		font-weight: 300;
	}
	.left-list .copyright-item {
		display: inline-block;
		vertical-align: bottom;
	}
	.left-list ._logo {
		width:122px;
		margin-bottom: 5px;
	}
	.left-list ._logo > a.logolink {
		display: block;
		width:94px;
		height: 44px;
		background-image: url(../img/footer-logo.png);
	}
	.left-list ._text {
		width: 390px;
		color: #a3b0c9;
	 	font-size: 15px;
		font-family: helvetica;
		font-weight: 300;
	}
	.left-list ._text .p_copyright, 
	.left-list ._text .p_line, 
	.left-list ._text .p_brought {
		display: inline;
		margin: 0;
		padding: 0;
	}
	.left-list ._partner > a.logolink {
		display: block;
		width:145px;
		height: 27px;
		margin-bottom: -2px;
		background-image: url(../img/footer-partner.png);
	}
	.right-list {
		margin-top: 23px;
	}
	.right-list .text{
		display: inline;
		margin: 0;
		margin-left: 15px;
		text-align: right;
	}
}
@media (max-width: 1199px) and (min-width: 768px){
	.footer ._followus {
		padding-left:0;
	}
	._home .footer-list_item {
		padding-right: 50px;
	}
	._followus .footer-list_item {
		padding-right: 40px;
	}
	.footer-list_item:last-child {
		padding-right: 0px;
	}	
	.copyright.left-list {
		display: block;
		width: 670px;
		margin: auto;
		margin-bottom: 20px;
	}
	.copyright.right-list {
		display: block;
		width: 305px;
		margin: auto;
		margin-bottom: 36px;
	}
}


@media (max-width: 767px) {
	.footer {
		min-width: 640px;
		background-color: #333e50;
		padding: 0;
	}
	.footer .container {
		padding: 0;
	}
	.footer .row {
		margin: 0;
	}
	.footer section {	
		width: 640px;
		margin: auto;
		padding: 0;
		float: none;
		font-family: helvetica-light;
	}	
	.footer-list {
		margin-bottom: 4px;
		padding-top: 40px;
		padding-right: 70px;
		padding-left: 70px;
		background-color: #3c4759;
	}
	.footer ._home {
		padding-top: 70px;
	}
	.footer ._home > h2.title,
	.footer ._followus > h2.title,
	.footer ._git > h2.title {
		margin: 0;
	 	text-transform: uppercase;
		font-size: 20px;
		color: #fff;
	}
	.footer-list_item {
		display: inline-block;
		margin-top: 24px;
	}
	.footer-list_item > li {								
		padding-bottom: 27px;
	}
	.footer-list_item > li:last-child {								
		padding-bottom: 40px;
	}
	.footer-list_item > li > a{
	 	font-size: 24px;
		color: #a3b0c9;
	}
	._home .footer-list_item {
		padding-right: 130px;
	}
	._followus .footer-list_item {
		padding-right: 142px;
	}
	._followus .footer-list_item > li {
		padding-bottom: 27px;
	}
	._followus .footer-list_item > li > a{
		display: inline-block;
		vertical-align: middle;
	}
	.footer-list_item:last-child {
		padding-right: 0px;
	}
	/* ---> Icons */
	.footer-list_item .item-icon:before{
		display: inline-block;
		vertical-align: middle;
		content: "";
		width: 24px;
		height: 24px;
		margin-right: 10px;
		margin-left: -2px;
		background-repeat: no-repeat;
	}
	._followus .item-icon._facebook:before{
		background: url(../img/footer-facebook.png);
	}
	._followus .item-icon._twitter:before{
		background: url(../img/footer-twitter_m.png);
	}
	._followus .item-icon._instagram:before{
		background: url(../img/footer-instagram_m.png);
	}
	._followus .item-icon._gplus:before{
		width: 28px;
		height: 18px;
		margin-right: 6px;
		background: url(../img/footer-gplus_m.png);
	}
	._followus .item-icon._youtube:before{
		background: url(../img/footer-youtube_m.png);
	}
	._followus .item-icon._in:before{
		margin-top: -6px;
		background: url(../img/footer-in_m.png);
	}
	._git .item-icon._mail:before{
		margin-top: -8px;
		height: 22px;
		width: 26px;
		background: url(../img/footer-mail_m.png);
	}
	/* <--- Icons */
	._git .item-faq a{
		display: inline-block;
		vertical-align: middle;
		color: #fff;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #f2f3f4;
	 	font-size: 20px;
		font-family: helvetica;
		font-weight: 300;
		}	
	.copyright {
		margin-top: 0;
		padding-top: 65px;
		color: #a3b0c9;
	 	font-size: 16px;
		font-family: helvetica;
		font-weight: 300;
	}
	.copyright a{
		color: #a3b0c9;
	 	font-size: 16px;
		font-family: helvetica;
		font-weight: 300;
	}
	.left-list {
		color: #a3b0c9;
	 	font-size: 16px;
		font-family: helvetica;
		font-weight: 300;
	}
	.copyright-item._logo a.logolink {
		margin: auto;
		display: block;
		width:175px;
		height: 82px;
		background-image: url(../img/footer-logo_m.png);
	}
	.copyright-item._text {
		padding-top: 25px;
		color: #a3b0c9;
	 	font-size: 15px;
		font-family: helvetica;
		font-weight: 300;
	}
	.copyright-item._text .p_copyright, 
	.copyright-item._text .p_brought {
		margin: 0;
		margin-bottom: 20px;
		text-align: center;
	}

	.copyright-item._partner a.logolink {
		display: block;
		margin: auto;
		margin-bottom: 20px;
		width:145px;
		height: 27px;
		background-image: url(../img/footer-partner.png);
	}
	.copyright.right-list {
		padding-top:0;
	}
	.copyright.right-list .text {
		margin: 0;
		margin-bottom: 20px;
		text-align: center;
		font-size: 24px;
	}
}