.header a{
	color: #3c4759;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 700;
}
.header .nav{
	height: 66px;
}
.header .navbar-list:first-child {
	margin-left: -15px;
}
.header .navbar-list_item {
	padding: 0 30px;
	padding-top: 23px;
    padding-bottom: 23px;
}
.header .navbar-list a{
	padding: 0;
}
.header .navbar-list_item > a:hover{
	color: #00aeef;	
}
.header .navbar-list_item > a.underlined:hover{
	border-bottom-width: 2px;
	border-bottom-color: #00aeef;
	border-bottom-style: solid;
}
.header ._login .navbar-list_item:last-child {
	padding-left: 0px;
	padding-right: 0px;
}
.header ._login ._line > a{
	font-weight: 300;
}	
.header ._login ._line:hover > a:hover {
	border-bottom-width: 0px;
} 
.header ._login ._line:before {
	position: absolute;
	top:19px;
	right: -1px;
	content: "";
	width: 1px;
	height: 24px;
	background-color: #b7c3db;
}