
 .header {
	height: 66px; 	
	padding-left: 207px;
	padding-right: 10px;
	box-sizing: border-box;
	}
.header-leftlist {
	display: inline-block;
	float: left;
}
.header-rightlist {
	display: inline-block;
	float: right;
}
.header-leftlist:before, .header-rightlist:before {
	content: "";
 	display: inline-block;
 	height: 100%;
 	vertical-align: middle;
	}
.header-list_item {
	display: inline-block;
	padding:0 28px;
	vertical-align: middle;
	}
.header-list_item > a {
	color: #3c4759;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 700;
	}
.header-list_item > a:hover {
	color: #00aeef;
	}
.header-list_item.link > a:hover{
	border-bottom-width: 2px;
	border-bottom-color: #00aeef;
	border-bottom-style: solid;
}
.header-list_item.text {
	padding-right:0;
	color: #3c4759;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 300;
	}
.header-list_item.line {
	display: inline-block;
	vertical-align: middle;
	padding-left:26px;
	}
.header-list_item.line:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 29px;
	width: 1px;
	height: 24px;
	padding: 0;
	background-color: #b7c3db;
	}
.header__list__el_last-link { /* */
	padding: 0;
	}
