.container-fluid.navblock-bg {
 	background-color: #00aeef;
 }
 .navblock {
 	margin: 0 -15px;
	border: none;
}
.navblock a{
	color: #fff;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 700;
}
.navblock .nav {
	height: 120px;
	}
.navblock ul.navbar-list > li > a, .navblock ul.navbar-search > li > a{
	padding: 0;
	}
.navblock ul.navbar-logo > li > a.navbar-logo_item{
	width: 195px;
	height: 120px;
	background-image: url(../img/navblock-logo.png);
	background-color: #fff;
	}
.navblock ul.navbar-collapseblock {
	display: inline-block;
}

.navblock ul.navbar-list {
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 12px;
}
.navblock ul.navbar-list li.navbar-list_item {
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.navblock ul.navbar-list > li > a:hover{
	border-bottom-width: 2px;
	border-bottom-color: #fff;
	border-bottom-style: solid;
}
.navblock ul.navbar-search li{
	padding-top: 46px;
	padding-bottom: 46px;
	padding-right: 15px;
}
.navblock ul.navbar-search > li > a.navbar-search_item{
	width: 27px;
	height: 27px;
	background-image: url(../img/navblock-search.png);
}

@media (max-width: 767px) {
	.container-fluid.navblock-bg {
	 	background-color: #fff;
	}
	 .navblock {
	 	min-width: 640px;
	 	margin: 0 -30px;
	}
	.navblock a{
		color: #00aeef;
	}
	.navblock .nav {
		height: 130px;
	}
	.navblock .toggle-style {
		position: static;
		float: left;
		margin-left: 50px;
		padding: 0;
		padding-top: 46px;
		padding-bottom: 45px;
	}
	.navblock .toggle-style .icon-toggle {
		display: block;
		width: 57px;
		height: 3px;
		margin: 7px 0;
		background-color: black;
	}
	.navblock ul.navbar-logo {
		position: absolute;
		left: 50%;
		top: 0;
		margin: 0;
	}
	.navblock ul.navbar-logo > li > a.navbar-logo_item{
		display: block;
		width: 162px;
		height: 130px;
		margin-left: -76px;
		padding: 0;
		background-image: url(../img/navblock-logo-m.png);
		background-position: center;
		background-repeat: no-repeat;
	}
	.navblock ul.navbar-collapseblock .in{
		width: 400px;
		height: 200px;
	}
	.navblock ul.navbar-list li.navbar-list_item {
		padding: 5px 35px;
	}
	.navblock ul.navbar-list > li > a:hover{
		border:none;
	}
	.navblock ul.navbar-search{
		position: absolute; 
		right: 50px; 
		top: -10px;
	}
	.navblock ul.navbar-search > li > a.navbar-search_item{
		display: block;
		width: 43px;
		height: 44px;
		background-image: url(../img/navblock-search_m.png);
		background-repeat: no-repeat;
		background-position: center;
	}
	.navblock ul.navbar-list > li > a, .navblock ul.navbar-search > li > a{
		padding: 0;
	}
}